Sphinx==7.3.7
sphinxawesome-theme==5.2.0
bs4==0.0.2
sphinx-sitemap==2.6.0
sphinx_design==0.6.0
sphinx-autobuild==2024.4.16
sphinx-docsearch==0.0.7
sphinxcontrib-images==0.9.4
python-dotenv==1.0.1
ghp-import==2.1.0